body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 40px;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.decrease {
    background-color: red;
    color: white;
}

.increase {
    background-color: green;
    color: white;
}

.reset {
    background-color: gray;
    color: white;
}
